[submodule "lib/platform_external_libphonenumber"]
	path = lib/platform_external_libphonenumber
	url = https://github.com/GrapheneOS/platform_external_libphonenumber
	branch = main
[submodule "lib/platform_frameworks_ex"]
	path = lib/platform_frameworks_ex
	url = https://github.com/GrapheneOS/platform_frameworks_ex
	branch = main
[submodule "lib/platform_frameworks_opt_vcard"]
	path = lib/platform_frameworks_opt_vcard
	url = https://github.com/GrapheneOS/platform_frameworks_opt_vcard
	branch = main
[submodule "lib/platform_packages_apps_PhoneCommon"]
	path = lib/platform_packages_apps_PhoneCommon
	url = https://github.com/GrapheneOS/platform_packages_apps_PhoneCommon
	branch = main
